/*
  This is a reasonable starting point for the CSS in Mock.
  Positioning in CSS can sometimes be annoying to manage, so we've opted to 
  give you this starter CSS. Feel free to modify it as you wish, though.
*/

.promptbox {
  position: relative;
  min-height: 95vh;
}

.mapbox-container {
  position: relative;
  width: 10vw; /* You can adjust the width based on your layout requirements */
  height: 25vh; /* Set a fixed height or adjust it according to your needs */
  margin: 0 auto; /* Center the container horizontally */
}

.mapbox {
  width: 100%; /* Make the map fill the container */
  height: 100%; /* Make the map fill the container */
}

.promptinput {
  position: relative;
  margin: auto;
  height: 15vh;
  width: auto;
}
.repl-command-box {
  width: 40%;
  margin: auto;
  display: block;
}
button {
  margin: auto;
  display: block;
}
